<div>
  <div class="container flex flex-wrap items-center justify-between mx-auto hero mdUp:py-2 xlUp:py-4">
    <img
        src="/assets/img/{{title}}/hero-frame.svg"
        alt="header frame"
        class="z-20 lgDown:hidden"
/>
    <img
        src="/assets/img/{{title}}/hero-frame-mobile.svg"
        alt="header frame"
        class="z-20 w-full xlUp:hidden"
/>
    <img
        src="/assets/img/tr-logo.svg"
        class="logo"
        alt="Tokyo Realtime logo"
/>
    <img
        src="/assets/img/hero.png"
                alt="Futuristic Tokyo girl"
        class="z-10 img lgDown:hidden"
/>
    <img
        src="/assets/img/hero-mobile.png"
        
        alt="Futuristic Tokyo girl"
        class="z-10 img xlUp:hidden"
/>

    <img
        src="/assets/img/award.png"
        
        class="award xlUp:hidden"
/>

    <div class="z-30 font-bold title">
      <div      
          class="{{ heroText }} mb-3"
          
        >
          Tokyo Soundwalks
        </div>

      <div class="text-secondary">
          FOR FREE
        </div>
    </div>

    <div class="z-50 pt-4 font-sans intro lgDown:hidden">
      TOKYO REALTIME audio guided tours revealing new sides to Tokyo’s most
        interesting neighborhoods. Due to
        <span class="text-primary">Covid-19</span> restrictions on travel to
        Japan, we've made this project free thanks to the sponsorship of White
        Rabbit Express and Blackship. We hope you'll enjoy these imaginative
        experiences of Tokyo informative and entertaining.
      </div>
  </div>

  <div class="font-sans intro xlUp:hidden">
TOKYO REALTIME audio guided tours revealing new sides to Tokyo’s most
        interesting neighborhoods. Due to
        <span class="text-primary">Covid-19</span> restrictions on travel to
        Japan, we've made this project free thanks to the sponsorship of White
        Rabbit Express and Blackship. We hope you'll enjoy these imaginative
        experiences of Tokyo informative and entertaining.
        </div>

  <section class="container mx-auto mb-12">
    <div
          class="relative flex flex-wrap items-center justify-between px-5 pt-5 mb-6 xlUp:mt-6 lgDown:mt-4 xlDown:justify-center"
        >
      <a :href="$static.metadata.wreUrl">

        <div class="mx-2 my-6">
          <div
    class="flex flex-col justify-between font-bold text-center sponsor font-body">
            <div class="flex justify-center">

              <img
                  src="/assets/img/wre-white-logo.png"
                  alt="White Rabbit Express logo"/>

            </div>
            <div class="mdUp:text-xl text-centerd">

              <div>Special order anything from Japan</div>
              <div class="text-wre">
                  whiterabbitexpress.com
                </div>
            </div>
          </div>
        </div>
      </a>

      <img src="/assets/img/award.png"           
            class="award lgDown:hidden"/>

      <a href="$static.metadata.blkUrl">
        <div class="mx-2 my-4">

          <div class="flex flex-col justify-between font-bold text-center sponsor font-body">
            <div class="flex justify-center">

              <img src="/assets/img/blackship-purple-logo.png"
                  alt="Blackship logo"
                  class="pt-1"
                  blk
/>

            </div>
            <div class="mdUp:text-xl text-centerd">

              <div>Package forwarding from Japan</div>
              <div class="text-blackship">
                  blackship.com
                </div>
            </div>
          </div>

        </div>
      </a>
    </div>
  </section>
</div>