
<header class="flex justify-between px-4 py-2 mb-10 bg-teal-500">
<h1>my header</h1>
  {% if page.url == "/" %}
  <h1 class="text-2xl font-medium text-white ">O RLY?</h1>
  {% else %}
  <h1 class="text-2xl font-medium text-white "><a href="/">ElevenTail <small class="text-sm">a site scaffold</small></a></h1>
  {% endif %}
  <nav>
    {%
      set linkList = [
        { "url": "/about" , "text": "About"},
        { "url": "/blog" , "text": "Blog"},
        { "url": pkg.repository.url , "text": "GitHub"}
      ]
    %}
    {% include "navigation-links.njk" %}
  </nav>
</header>



