<!DOCTYPE html>
<html >
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="/css/styles.css"/>

    <link
      rel="preconnect"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
      href="https://fonts.gstatic.com"
/>
    <link
      rel="preload"
      as="style"
      crossorigin="anonymous"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap"
/>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/amplitudejs@5.0.3/dist/amplitude.min.js"
    ></script>

<script src="https://cdn.plyr.io/3.6.2/plyr.js"></script>

<link rel="stylesheet" href="https://cdn.plyr.io/3.6.2/plyr.css" />


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css">
<!--[if (lt IE 9)]><script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.helper.ie8.js"></script><![endif]-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
<!-- NOTE: prior to v2.2.1 tiny-slider.js need to be in <body> -->



<script>

      
 window.onload = function(){

  const player = new Plyr('#player');
  var slider = tns({
    container: '.my-slider',
    items: 1,
    autoWidth: true,
    slideBy:1,
        mouseDrag: true,
    lazyload: true,
    swipeAngle: false,
    speed: 400,
  });
 }
</script>

  </head>
  <body class="{{title}}">
    <div class="flex flex-col min-h-screen pt-8 leading-normal text-white font-body content-wrapper bg-bg">

      {% include "_header.njk" %}

      {{content | safe}}

      {% include "_footer.njk" %}
    </div>
  </body>
</html>