{# {label: "aakihabara", path: "", panel: {html: akihabara}},
{label: "kkabukicho", path: "/kabukicho", panel: {html: akihabara}}, #}

{# 'checked' added if path = '' (empty path designates the active tab) #}

{% macro tourTabs(tabs) %}


<div id="infotabs" class="relative flex space-x-5 xlUp:ml-10 lgDown:justify-center lgDown:pb-2">
    {% for tab in tabs %}
    <div class="infotab">        
        <input
            type="radio"
            name="tour"
            value="what"
            class="hidden"
            {{ 'checked' if tab.path == "" }}
           
            />
            
        <label for="tab-{{ tab.label }}" class="font-black tracking-widest uppercase item"
        data-content="{{ tab.label }}"  {%if tab.path %}
            onclick="window.location='/{{ tab.path }}';"
            {% endif %}></label>

        <section class="info-tab-body">
        <div class="pt-8 text-lg xlUp:px-8 {{tab.label}}">
        {{ tab.panel.html | safe if tab.panel.html else tab.panel.text }}
        </div>
        </section>
    </div>

    {% endfor %}
</div>


    {# {% for tab in tabs %}
    <label>
        <input
            type="radio"
            name="tour"
            value="what"
            class="hidden"
            {{ 'checked' if tab.path == "" }}
            {%if tab.path %}
            onclick="window.location='/{{ tab.path }}';"
            {% endif %}
            />
        <div class="font-black tracking-widest uppercase item"
        data-content="{{ tab.label }}"></div>
        </label> 
    {% endfor %}

    {% for tab in tabs %}
        {% if tab.path == "" %}
        <section class="info-tab-body">
            <div class="pt-8 text-lg xlUp:px-8 {{tab.label}}">
            
                <div class="mt-12" >{{ tab.panel.html | safe if tab.panel.html else tab.panel.text }}</div> 
            </div>
            </section>

        {% endif %}
    {% endfor %} #}

{% endmacro %}

