@tailwind base;

// stylelint-disable selector-max-type
html {
  overflow-x: hidden;
  font-size: 16px;
  // stylelint-disable-next-line
  body {
    overflow-x: hidden;
    background-color: theme('colors.bg');
  }
}

@tailwind components;
@tailwind utilities;

.container {
  @apply px-6 max-w-full;

  @screen xxxlUp {
    max-width: theme('screens.xxxlUp.min');
  }

  @screen mdDown {
    @apply px-5;
  }

  @screen sm {
    @apply px-4;
  }
}

@font-face {
  font-family: 'Bender';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~@/assets/font/bender/regular.woff') format('woff');
}

@font-face {
  font-family: 'Bender';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~@/assets/font/bender/bold.woff') format('woff');
}

@font-face {
  font-family: 'Bender';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('~@/assets/font/bender/black.woff') format('woff');
}
