---
title: kabukicho
layout: default
hero-text: text-white
---
<div>
    <div place-name="{{title}}" :class="name">
        <div class="px-1 py-16 mx-auto">
            <TrPlayer
            place-name="{{title}}"
            place-description="Get an insider tour of Japan's pop culture mecca for anime, manga, maids and more."
/>
        </div>
        <div class="px-1 py-16 mx-auto">
            {# tab start #}
            <div>
                <div class="relative mx-auto akihabara">

before player
                    <div id="plyr">
                        <audio crossorigin playsinline>
                            <source src="https://cdn.plyr.io/static/demo/Kishi_Bashi_-_It_All_Began_With_a_Burst.mp3" type="audio/mp3">
                            <source src="https://cdn.plyr.io/static/demo/Kishi_Bashi_-_It_All_Began_With_a_Burst.ogg" type="audio/ogg">
                        </audio>
                    </div>
                    after player

                    <div class="tabWrapper xlUp:pl-5 xlUp:pr-2">
                        <div
                     class="relative flex space-x-5 xlUp:ml-10 lgDown:justify-center lgDown:pb-2"
                     >

                    {% from "components/_tour-tabs.njk" import tourTabs %}

                            {% set kakukichoHTML %}
                            <h1>playe_here</h1>
                            <div id="plyr">
                                <audio crossorigin playsinline>
                                    <source src="https://cdn.plyr.io/static/demo/Kishi_Bashi_-_It_All_Began_With_a_Burst.mp3" type="audio/mp3">
                                    <source src="https://cdn.plyr.io/static/demo/Kishi_Bashi_-_It_All_Began_With_a_Burst.ogg" type="audio/ogg">
                                </audio>
                            </div>
                            {% endset %}

                            {% set tabs = [
                                {
                                    label: 'akihabara',
                                    path: 'akihabara'                                    
                                }, {
                                    label: 'kabukicho',
                                    path: '',
                                    panel: {
                                        html: kabukichoHTML
                                    }
                                }
                            ]
 %}

                            {{ tourTabs(tabs) }}

                        </div>

                    </div>
                </div>
            </div>